# Node modules
node_modules/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Build output
dist/
build/
out/

# Environment variables
.env
.env.local

# IDE-specific files
.vscode/
.idea/

# Dependency directories
bower_components/
jspm_packages/

# Coverage reports
coverage/
*.lcov

# Temporary files
*.tmp
*.swp

# npm package lock
package-lock.json
